.contextMenu-Wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

.contextMenu-outer {
    max-width: 400px;
    position: absolute;
    z-index: 15;
    background-color: white; 
    padding: 10px;
    min-width: 200px;
    border: black 1px solid;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(158, 158, 158);
    font-size: 13px;

    .contextMenu-title {
        font-weight: bolder;
        font-size: 18px;
    }

    
    textarea {
        border: none;
        background: none;
        text-align: left !important;
        border-bottom: grey 1px solid;
        height: fit-content;
    }

    .contextMenu-section {
        padding-bottom: 10px;
    }

    :last-child {
        padding-bottom: 0px;
    }
}

.editPencil {
    font-size: 13px;
    margin-left: 12px;
    @include clickable;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}