.streak-holder {
    position: absolute;
    right: 6px;
    top: 2px;
    .streak-number {
        font-size: 12px;
    }
}

// .streak-negative-1 {
//     color: rgb(70, 0, 0);
    
// }

// .streak-negative-2 {
//     color: rgb(90, 0, 0);
//     font-weight: bold;
// }

// .streak-negative-3 {
//     color: rgb(110, 0, 0);
//     font-weight: bold;
    
// }

// .streak-negative-4 {
//     color: rgb(130, 0, 0);
//     font-weight: bold;
    
// }

// .streak-negative-5 {
//     color: rgb(150, 0, 0);
//     font-weight: bold;
    
// }

// .streak-negative-6 {
//     color: rgb(170, 0, 0);
//     font-weight: bold;
// }

.streak-negative-7 {
    color: rgb(255, 0, 0);
    // font-weight: bold;
}

.streak-positive-7 {
    color: rgb(0, 189, 25);
    // font-weight: bold;

}