@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



// Override Sass min()
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

$border-radius: 5px;
@mixin clickable {
  &:hover {
    cursor: pointer;
  }
}

#root {
  height: 100vh;
  letter-spacing: 0;
}


p {
  margin-bottom: 0 !important;
  font-size: 14px;
  overflow-wrap: anywhere;
}

body {
  //font-family: 'Open Sans', sans-serif !important;
  font-family: 'IBM Plex Mono', monospace !important;
  background-image: url("https://images.unsplash.com/photo-1559511260-66a654ae982a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1992&q=80");
  background-size: cover;
}

.item-row {
  margin: auto;
  margin-bottom: 8px;
  border-radius: $border-radius;
  background-color: white;
  box-shadow: 0px 2px 2px grey;
  border: lightgrey 0.5px solid;
  border-bottom: 0;
  min-height: 34px;
}

.outer-column {
  height: fit-content;
  //min-height: 300px;
  margin: 0;
  background-color: #ececece7;
  color: black;
  border-radius: 7px;
  box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.25);
  padding: 0px 10px 1px 10px;
  
  
  // padding-bottom: 50px;
  width: 100%;
  
}

.add-item {
  height: 40px;
  width: calc(100%) !important;
  border-radius: $border-radius;
  border: lightgrey 0.5px solid;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;

  input {
    border: none;
    background: none;
    text-align: left !important;
    padding-left: 15px;
  }
}

.deletion-box {
  background-color: red;
  color: white;
  border-radius: $border-radius;

  p {
    font-weight: bold;
    //position: absolute;
    margin-top: 9px;
    width: 100%;
    vertical-align: middle;
  }
}

.column-header {
  font-size: 23px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-family: 'Open Sans', sans-serif !important;
  //font-family: 'IBM Plex Mono', monospace !important;
  

  span {
    font-size: 15px;
  }
}

.emoji {
  font-size: 26px;
}

.checkbox {
  border: 1px solid black;
  height: 25px;
  width: 25px;
  border-radius: $border-radius;
}

.item-checkbox {
  margin: 9px 15px 9px 15px;
}

.item-name {
  padding: 5px 0 5px 0;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.outer-footer {
  color: white;
  width: 100vw;
  position: fixed;
  height: 50px;
  left: 0;
  top: calc(100vh - 50px);
  border-top: 1px white solid;
  background-color: rgba(0, 0, 0, 0.738);
  font-family: 'Open Sans', sans-serif !important;
  p {
   font-size: 18px; 
  }
}

.footer-item {
  margin: auto;
}

#countdown {
  font-family: 'Inconsolata', monospace !important;
}

@media (max-width: 790px){
  .outer-footer {
    p {
      font-size: 13px;
    }
  }
}

.columns {
  height: calc(100vh - 70px);
}

.item-p {
  padding-right: 15px;
}

.items {
  max-height: calc(77vh - 55px);
  height: fit-content;
  border-radius: $border-radius;
  overflow-y: auto;
}

.min-height {
  min-height: 45px;
  transition: min-height 35s ease-out;
}

.inner-container {
  width: 100%;
  display: flex;
  margin: auto;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: min(4vh, 35px);
  justify-content: center;
}

@media (max-width: 1050px){
  .inner-container {
    justify-content: start;
    margin-left: 10px;
  }
}

.checked {
  background-color: black;
  color: white;
  .checkbox {
    border: 1px solid white;
    p {
      font-family: 'IBM Plex Mono', monospace;
      font-size: 23px;
      font-style: italic;
      font-weight: 400;
      text-align: center;
      height: 30px;
      width: 30px;
      vertical-align: center;
      bottom: 8.5px;
      right: 3px;
      position: relative;
    }
  }
}

.col-3 {
  max-width: 300px !important;
}

// popups //

.fullscreen-popup {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: black;
  opacity: 0.8;
  z-index: 5;
  
  .coming-soon {
    color: white;
    font-size: 5vw;
    font-style: italic;
  }

  .close-popup {
    color: white;
    font-size: 60px;
    font-style: italic;
    left: 50px;
    top: 10px;
    position: absolute;
    font-family: 'IBM Plex Mono', monospace;

    @include clickable;
  }
}

.clickable {
  @include clickable
}

.col-3 {
  min-width: 250px;
  margin: 0 3px;
}