@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



// Override Sass min()
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

$border-radius: 5px;
@mixin clickable {
  &:hover {
    cursor: pointer;
  }
}

#root {
  height: 100vh;
  letter-spacing: 0;
}


p {
  margin-bottom: 0 !important;
  font-size: 13px;
  overflow-wrap: anywhere;
}

body {
  //font-family: 'Open Sans', sans-serif !important;
  font-family: 'IBM Plex Mono', monospace !important;
  //background-image: url("/default.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.item-row {
  margin: auto;
  margin-bottom: 8px;
  border-radius: $border-radius;
  background-color: white;
  box-shadow: 0px 2px 2px grey;
  border: lightgrey 0.5px solid;
  border-bottom: 0;
  min-height: 34px;
}

.outer-column {
  height: fit-content;
  //min-height: 300px;
  margin: 0;
  background-color: #ececece7;
  color: black;
  border-radius: 7px;
  box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.137);
  padding: 0px 0px 1px 10px;
  
  
  // padding-bottom: 50px;
  width: 100%;
  
}

.add-item {
  height: 40px;
  margin-right: 10px;
  border-radius: $border-radius;
  border: lightgrey 0.5px solid;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 8px;
  font-size: 13px;

  input {
    border: none;
    background: none;
    text-align: left !important;
    padding-left: 15px;
  }
}

.deletion-box {
  background-color: red;
  color: white;
  border-radius: $border-radius;

  p {
    font-weight: bold;
    //position: absolute;
    margin-top: 9px;
    width: 100%;
    vertical-align: middle;
  }
}

.column-header {
  font-size: 22px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: 'Open Sans', sans-serif !important;
  //font-family: 'IBM Plex Mono', monospace !important;
  

  span {
    font-size: 15px;
  }
}

.emoji {
  font-size: 22px;
}

.checkbox {
  border: 1px solid black;
  height: 20px;
  width: 20px;
  border-radius: $border-radius;
}

.item-checkbox {
  margin: 9px 15px 9px 15px;
}

.item-name {
  padding: 5px 0 5px 0;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.outer-footer {
  color: black;
  width: 100vw;
  position: fixed;
  height: 50px;
  left: 0;
  top: calc(100vh - 50px);
  background-color: #ececece7;
  opacity: 0.8;
  font-family: 'IBM Plex Mono', monospace !important;
  p {
   font-size: 18px; 
  }
}

.footer-item {
  margin: auto;
  p {
    font-size: 20px;
  }
}

@media (max-width: 790px){
  .outer-footer {
    p {
      font-size: 13px;
    }
  }
}

.columns {
  height: calc(100vh - 70px);
}

.item-p {
  padding-right: 15px;
}

.items {
  max-height: calc(77vh - 55px);
  height: fit-content;
  border-radius: $border-radius;
  overflow-y: auto;
  padding-right: 10px;
}

.min-height {
  min-height: 45px;
  transition: min-height 35s ease-out;
}

.inner-container {
  width: 100%;
  display: flex;
  margin: auto;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: min(4vh, 35px);
  justify-content: center;
}

@media (max-width: 1050px){
  .inner-container {
    justify-content: start;
    margin-left: 10px;
  }
}

.checked {
  background-color: black;
  color: white;
  .checkbox {
    border: 1px solid white;
    p {
      font-family: 'IBM Plex Mono', monospace;
      font-size: 20px;
      font-style: italic;
      font-weight: 400;
      text-align: center;
      vertical-align: center;
      bottom: 7.52px;
      position: relative;
    }
  }
}

.col-3 {
  max-width: 300px !important;
}

// popups //

.fullscreen-popup {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: #000000e3;
  background-repeat: true;
  z-index: 5;
  padding-top: 110px;
  padding-left: 5vw;
  padding-right: 5vw;
  
  .coming-soon {
    color: white;
    font-size: 5vw;
    font-style: italic;
  }

  .close-popup {
    color: white;
    font-size: 60px;
    font-style: italic;
    right: 100px;
    top: 10px;
    position: absolute;
    font-family: 'IBM Plex Mono', monospace;

    @include clickable;
  }
}

.clickable {
  @include clickable
}

.col-3 {
  min-width: 250px;
  margin: 0 3px;
}

.habit-chart {
  height: 500px;
  width: 100%;
}

.white {
  color: white
}

.history {
  height: 70vh !important;
  padding-left: 15px;
  padding-right: 25px;
  overflow-y: scroll
}

.history-row {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
  border-right: 1px white solid;
}

.history-item {
  border-right: 1px white solid;
  border-left: 1px white solid;
}

.chart-title {
  font-size: 20px;
}

canvas {
  background-color: #000 !important;
  opacity: 1;
}

.chart-holder {
  min-width: 400px;
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.delete-item {
  height: 50px;

  p {
    margin-top: 14.5px;
  }
}

.mh-80 {
  max-height: 80vh;
}

.outer-chart-holder {
  overflow-x: scroll;
  padding-top: 90px;
}

.css-1o3fej {
  height: 80vh;
}

.ReactTypeformEmbed {
  position: static !important;
  height: 70vh !important;
}

#typeform {
  margin-top: 0 !important;
}

.information {
  font-size: 14.5px;
  height: 70vh;
  overflow-y: scroll;
  p {
    font-size: 14.5px;
    padding-bottom: 15px;
  }
}

textarea:focus, input:focus{
  outline: none;
}

.MuiTypography-root {
  font-family: 'IBM Plex Mono', monospace !important;
}

.MuiButton-root {
  text-align: left;
  font-weight: bold !important;
  font-family: 'IBM Plex Mono', monospace !important;
  margin: 5px 5px !important;
}

.MuiButton-root:hover {
  text-decoration: none;
  color: white;
}

#danger-zone {
  margin-top: 30px;
  
}

#settings-outer {
  background-color: #1919198c;
  border-radius: 5px;
  padding: 25px;
  height: 70vh;
  overflow-y: scroll;
  justify-content: center;
}

.MuiSwitch-root {
  padding-left: 0 !important;
  padding-right: 18px !important;
}

.PrivateSwitchBase-root-1 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.MuiFormControlLabel-root {
  width: 100%;
}

.jss1 {
  padding-left: 0 !important;
}

.white-black-button {
  background-color: white;
  border-radius: 30px;
  width: fit-content;
  color: black;
  opacity: 1;
  justify-content: center;
  display: flex;
  margin: auto;
  margin-top: 30px;
  
  p {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 30px;
    padding: 0px 60px 3px 60px;
  }
}

.instructions {
  padding-left: 50px;
  justify-content: center;

  ol, p, ul {
    padding-bottom: 25px;
    font-size: 2vw;
    max-height: 70vh;
  }

  
}

.info-image {
  max-height: 65vh;
  max-width: 40vw;
}

.f-30 {
  font-size: 30px;
}

.info-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  // font-weight: bolder;
}

.main-info-content {
  margin-top: -50px;
  
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.img-1 {padding-right: 25px;}
.img-2 {padding-left: 25px;}
.arrow {font-size: 60px;}

canvas {
  background-color: #0000!important;
}